body {
    height: 100%;
    width: 100%;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.main-div{
    text-align: center;
}
h1 {
    margin-top: 32vh;
    color: whitesmoke;
    font-weight: 600;
    font-size: 3rem;
}

hr {
    background-color: #ff6131;
    height: 2px;
    border: 2px solid #ff6131;
    width: 5%;
    opacity: 100%;
    margin: 21vh auto 2vh auto;
}

.lc-btn {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
    background: #ff6131;
    padding: 10px 25px 10px 25px;
    border: none;
}

.lc-btn:hover {
    background: #ff6a49;
    text-decoration: none;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}